@use "../styles/variables" as var;
@use "../styles/icons" as ico;
@use "abstracts" as *;

.london-single-right,
#london-single-left-mobile {
	font-size: 0.9rem;
	h1.product_title {
		margin-bottom: 0.5rem;
		color: var.$color-text;
		font-size: 1.5rem;
	}
	.price {
		color: var.$color-text !important;
		display: flex;
		gap: 10px;
		font-weight: bold;
		margin-top: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 1px dashed darken(var.$color-gray-light, 20%);
		border-bottom: 1px dashed darken(var.$color-gray-light, 20%);
		font-size: 20px;
	}
	.product_meta {
		margin-bottom: 1rem;
	}
	.stock {
		&.out-of-stock {
			font-size: 1rem;
			color: white;
			text-transform: uppercase;
			display: inline-block;
			background-color: var.$color-error;
			padding: 10px;
		}
	}
}

.london-single-product-wrapper {
	margin-top: 2rem;
	.woocommerce-product-gallery {
		width: rem(300) !important;
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.product-add-to-cart {
		.cart {
			display: flex;
			flex-direction: column;
			button {
				width: 200px;
				&.minus,
				&.plus {
					height: 56px;
					width: 56px;
					color: white;
					transition: all, 300ms;
					&:hover {
						cursor: pointer;
						transform: scale(1.1);
					}
				}
				&[name="add-to-cart"] {
					background-color: var.$color-green;
					font-size: 1.2rem;
					margin-left: 0.5rem;
					padding-top: 12px;
					padding-bottom: 12px;
					margin-top: -1px;
					@include to(lg) {
						margin-top: 1rem !important;
						margin-bottom: 0 !important;
						margin-left: auto;
						margin-right: auto;
					}
					white-space: nowrap;
					transition: none;
					max-width: 95%;

					@include from(xl) {
						margin-top: 0 !important;
					}
					&:hover {
						background-color: var(--brand);
						outline: none !important;
						border-radius: 0 !important;
						border-color: var(--brand);
					}
				}
			}
		}
		input {
			&.qty {
				height: 50px;
			}
		}
	}

	.london-product-full {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px dashed darken(var.$color-gray-light, 20%);
	}
	.product-excerpt,
	.product-add-to-cart {
		margin-top: 2rem;
	}
	.product-add-to-cart {
		form {
			justify-content: center;
			display: flex;
			gap: 1rem;
			text-align: center;
			button.single_add_to_cart_button {
				margin-left: auto !important;
				margin-right: auto !important;
				float: none;
				@include from(xxl) {
					margin-left: auto !important;
					margin-right: 0 !important;
				}
			}
		}
		.london-quantity {
			text-align: center;
			margin-bottom: 1rem;
			input {
				margin: 0 rem(10) !important;
			}
			.plus,
			.minus {
				background-color: var.$color-blue;
				border: none;
				border-radius: 4px;
				width: 20px;
				height: 20px;
			}
		}
	}
	@include from(lg) {
		.product-top {
			display: flex;
			flex-direction: row;
			gap: 2rem;
			justify-content: center;
		}
	}
	@include from(xxl) {
		.product-add-to-cart {
			form {
				&:before,
				&:after {
					display: none !important;
				}
				display: flex;
				justify-content: center;
				flex-direction: row !important;
				gap: 1rem;
				justify-content: space-between;
				align-items: center;
			}
		}
		.woocommerce-product-gallery {
			width: rem(500) !important;
		}
	}
}
.product-excerpt {
	p {
		margin-bottom: 1rem;
		+ ul,
		+ ol {
			padding-top: 0;
		}
	}
	ul,
	ol {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
/* For Webkit browsers like Chrome, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Mozilla Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
.london-delivery-information {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-top: 1px dashed darken(var.$color-gray-light, 20%);
	padding-top: 2rem;
	margin-top: 2rem;
	h3 {
		margin-bottom: 1rem;
	}
	h4 {
		margin-bottom: 0.5rem;
	}
	p + h4 {
		margin-top: 1rem;
	}
}
// new Tabs#

.product {
	&.is-on-mobile {
		.summary {
			margin-bottom: 0 !important;
		}
		.london-product-full {
			border-top: none;
			border-bottom: none !important;
		}
		.london-delivery-information {
			border-top: none;
			padding-top: 0;
		}
		.london-delivery-information {
			gap: 1rem;
		}
		.description {
			padding: rem(10);
			padding-top: 0;
		}
		.london-product-full,
		.london-delivery-information {
			margin: 0;
			padding: 0;
			gap: 0;
			h3 {
				margin: 0;
				padding: 0;
				background-color: var.$color-gray-light;
				padding: rem(15);
				@include font-size(20, 22);
				border-bottom: darken(var.$color-gray-light, 10%) 1px dashed;
				margin-bottom: rem(10);
				position: relative;
				@include ico.icon("caret-down-solid") {
					@include scut-center-transform(y);
					right: rem(10);
				}

				&.h3-active {
					@include ico.icon("minus-solid");
				}
			}
		}
	}
}
.custom-free-shipping-notice {
	border-radius: rem(5);
	background-color: var.$color-gray-lighter;
	padding: rem(10);
	font-size: rem(14);
	line-height: 1.6;
}
.london-banner-calls {
	margin-top: 1rem;
	padding-top: rem(15);
	padding-bottom: rem(15);
	background-color: var.$color-blue;
	margin-left: auto;
	margin-right: auto;
	color: white;
	// margin-bottom: rem(10);
	// margin-top: rem(10);
	i {
		@include scut-center-transform(y);
		color: white;
		font-size: 20px;
		&.icon-angle-left-solid {
			left: 10px;
		}
		&.icon-angle-right-solid {
			right: 10px;
		}
	}
	.inner {
		text-align: center;
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		max-width: rem(300);
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		strong {
			display: block;
		}
		img {
			align-self: center;
			@include to(md) {
				max-width: rem(80);
			}
		}
	}
}
