/**
 * WooCommerce CSS Variables
 */
@use "../styles/variables" as var;
@use "../styles/icons" as ico;
@use "abstracts" as *;
$woocommerce: var.$color-blue !default;
$green: var.$color-green !default;
$red: var.$color-error !default;
$orange: #ffba00 !default;
$blue: #2ea2cc !default;

$primary: var.$color-blue !default; // Primary color for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%) !default; // Text on primary color bg

$secondary: darken(var.$color-gray-light, 40%) !default; // Secondary buttons
$secondarytext: white; // Text on secondary color bg

$highlight: adjust-hue($primary, 150deg) !default; // Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%) !default; // Text on highlight color bg

$contentbg: #fff !default; // Content BG - Tabs (active state)
$subtext: #767676 !default; // small, breadcrumbs etc

// export vars as CSS vars
:root {
	--woocommerce: #{$woocommerce};
	--wc-green: #{$green};
	--wc-red: #{$red};
	--wc-orange: #{$orange};
	--wc-blue: #{$blue};
	--wc-primary: #{$primary};
	--wc-primary-text: #{$primarytext};
	--wc-secondary: #{$secondary};
	--wc-secondary-text: #{$secondarytext};
	--wc-highlight: #{$highlight};
	--wc-highligh-text: #{$highlightext};
	--wc-content-bg: #{$contentbg};
	--wc-subtext: #{$subtext};
}
