// Navigation variables
@use "../variables" as *;
$navigation-color-background: transparent;
$navigation-font-color: white;
$navigation-font-color-active: white;
$navigation-font-color-hover: white;
$navigation-a-padding: 1rem 3rem;
$navigation-a-font-size: 1rem;
$navigation-portrait-height: 20px;
$navigation-submenu-indicator-top: 4px;
$navigation-submenu-indicator-left: 15px;
$navigation-submenu-indicator-size: 6px;
$navigation-dd-border: none;
$navigation-dd-padding: 16px 20px;
$navigation-dd-background: $color-link-hover;
$navigation-dd-a-background-color: transparent;
$navigation-dd-a-background-color-hover: green;
$navigation-dd-a-color: red;
$navigation-dd-a-color-hover: blue;
$navigation-dd-a-font-size: 14px;
$navigation-offcanvas-background-color: rgba(255, 255, 255, 0.9);
$navigation-offcanvas-icon-color: $color-text;
$navigation-offcanvas-icon-width: 15px;
$navigation-offcanvas-icon-height: 15px;
$navigation-offcanvas-icon-margin: 0 10px 0;
$navigation-offcanvas-icon-font-size: 16px;
$navigation-offcanvas-border: 1px solid rgba(0, 0, 0, 0.1);
$navigation-offcanvas-a-padding: 12px 15px 12px 10px;
$navigation-offcanvas-a-font-color: $color-text;
$navigation-offcanvas-a-font-size: 14px;
$navigation-offcanvas-a-font-weight: normal;
$navigation-offcanvas-a-active-font-color: $color-link-hover;
$navigation-offcanvas-a-active-font-size: 14px;
$navigation-offcanvas-a-active-font-weight: normal;
$navigation-offcanvas-a-a-background: transparent;
$navigation-offcanvas-a-a-background-hover: transparent;
$navigation-offcanvas-a-a-padding: 12px 15px 12px 15px;
$navigation-offcanvas-a-a-font-color: white;
$navigation-offcanvas-a-a-font-color-active: red;
$navigation-offcanvas-a-a-font-size: 14px;
$navigation-offcanvas-a-a-font-weight: normal;
