@use "../styles/variables" as var;
@use "../styles/icons" as ico;
@use "abstracts" as *;

.button {
	background-color: var.$color-blue;
	color: white;
	border-radius: 4px;
	line-height: 1;
	outline: none;
	display: inline-block;
	font-size: rem(16);

	@include from(md) {
		font-size: rem(20);
	}
	text-transform: uppercase;
	font-weight: var.$font-weight-bold;
	padding: rem(15) rem(30);
	&:hover {
		transform: scale(1.05);
		color: white;
	}
	&.small,
	&.batch {
		@include font-size(12, 14);
		padding: rem(8) rem(15);
		&:hover {
			transform: none;
			color: white;
		}
	}
	&.has-icon {
		position: relative;
		padding-right: rem(40);
	}
	&.book-appointment {
		@include ico.icon("plus-solid") {
			position: absolute;
			right: rem(10);
		}
	}

	&.transparent {
		background-color: transparent !important;
		padding: 0;
		&:hover {
			transform: none;
		}
		&.icon-button {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			i {
				margin-top: 2px;
				margin-bottom: -1px;
			}
		}
	}

	@each $name, $color in var.$color-array {
		&.#{$name} {
			background-color: $color;
			&:hover {
				&:not(.batch) {
					background-color: darken($color, 10%);
				}
			}
		}
	}
}
.buttons-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}
