@use "abstracts" as *;
@use "../styles/icons" as ico;
@use "../styles/variables" as var;
.google-star-rating {
	svg {
		fill: var.$color-stars !important;
	}
	.rating-middle {
		display: flex;
		align-items: center;
		line-height: 1;
		display: flex;
		gap: rem(5);
	}
	@include from(xl) {
		.logo {
			margin-bottom: 4px;
		}
		a {
			color: var.$color-text;
		}
	}
}
#gogole-wrap-mobile {
	background-color: var.$color-blue;
	color: white;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(40);
	}
	.google-star-rating {
		img {
			filter: brightness(0) invert(1);
		}
		a {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			line-height: 1;
			align-items: center;
			font-weight: var.$font-weight-bold;
			color: white;
		}
		@include font-size(12, 16);
		@include to(xs) {
			.rating-bottom {
				display: none;
			}
		}
	}
	@include from(lg) {
		display: none;
	}
}
//
#top-wrapper {
	background-color: var.$color-blue-dark;
	color: var.$color-white;
	svg {
		fill: var.$color-stars;
	}
	a {
		color: var.$color-white;
	}
	.container {
		display: flex;
		align-items: center;
	}
	.item {
		&.locations {
			position: relative;
		}
		&.login {
			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				text-transform: uppercase;
				gap: 0.5rem;
			}
		}
	}
	.left {
		display: flex;
	}
	@include to(sm) {
		.container {
			padding-top: rem(10);
			padding-bottom: rem(10);
			flex-direction: row-reverse;
		}
		.left {
			justify-content: space-between;
			gap: 2rem;
		}
		.right {
			margin-right: auto;
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}
		.item {
			&.email,
			&.phone {
				i {
					font-size: 1.4rem;
				}
				span {
					display: none;
				}
			}
			&.login {
				a {
					display: flex;
					flex-direction: row;
					align-items: center;
					text-transform: uppercase;
					gap: 0.5rem;
					span {
						display: none;
					}
				}
			}
		}
	}
	@include from(md) {
		.container {
			display: flex;
			align-items: center;
		}
		.right {
			margin-left: auto;
			display: flex;
			flex-direction: row-reverse;
		}
		.left {
			a {
				display: flex;
				gap: 1rem;
			}
		}
		.item {
			padding: 0 rem(20);
			border-right: 1px solid lighten(var.$color-blue-dark, 4%);
			height: rem(50);
			display: flex;
			align-items: center;
			&.email {
				padding-left: 0;
				border-left: 0;
			}
			&.locations {
				padding-right: 0;
				border-right: none;
				border-left: 1px solid lighten(var.$color-blue-dark, 4%);
			}
			&.login {
				span {
					display: block;
				}
			}
		}
	}
}
.google-star-rating {
	.rating-bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: rem(10);
	}
	.logo {
		width: 60px;
		img {
			max-width: 100%;
		}
	}
}

#nav-wrapper {
	background-color: var.$color-blue;
	.nav-toggle {
		display: none;
	}
	.navigation-landscape {
		.nav-menus-wrapper-close-button {
			display: none;
		}
		#menu-header {
			a {
				font-weight: var.$font-weight-bold;
			}
			> li {
				&.active-parent,
				&.active {
					> a {
						position: relative;
						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							height: 3px;
							background-color: var.$color-blue-dark;
							display: block;
							left: 0;
							right: 3rem;
						}
					}
					li {
						a {
							&::after {
								right: 0;
							}
						}
					}
				}
			}
			> li {
				> a {
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
	}
	.navigation-portrait {
		.nav-menus-wrapper {
		}
	}
}
#go-to-shop {
	a {
		color: var.$color-text;
		font-weight: bold;
		&.button {
			color: white;
		}
	}
	.shipping-cart {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		i {
			font-size: 28px;
			line-height: 20px;
		}
		a {
			color: var.$color-text;
		}
		.wrapper {
			position: relative;
			float: left;
			margin-top: 8px;
			.count {
				font-size: 11px;
				color: white;
				background-color: var.$color-error;
				border-radius: 50%;
				padding: 2px;
				position: absolute;
				top: -15px;
				width: rem(16);
				height: rem(16);
				text-align: center;
				line-height: rem(16);
				right: -11px;
			}
		}
	}
}

#header-wrapper {
	.top-logo,
	.middle,
	.right {
		display: none;
	}
	.logo {
		width: 100px;
		img {
			max-width: 100%;
		}
	}

	@include to(xs) {
		padding: 1rem 0;
		.logos,
		.main-nav-init {
			display: flex;
			justify-content: space-between;
			align-items: center;
			line-height: 1;
		}
		.main-nav-init {
			text-transform: uppercase;
			font-weight: var.$font-weight-bold;
			gap: 0.5rem;
			@include font-size(12, 18);
			i {
				font-size: 1.4rem;
				line-height: 1.4;
				margin-bottom: rem(-2);
			}
		}
		.right {
			display: block;
			.main-nav-init {
				display: none;
			}
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				margin-top: 1rem;
				a {
					display: block;
					flex: 1;
					text-align: center;
				}
				.nne {
					display: none;
				}
			}
		}
	}
	@include to(md) {
		.logo-mobile {
			display: block;
		}
		.book-appointment {
			@include ico.icon("calendar-light");
		}
	}
	@include between(sm, md) {
		.logo-mobile {
			display: block;
		}
		.nne {
			// display: none;
		}
		// .book-appointment {
		// 	@include ico.icon("calendar-light");
		// }
	}
	@include from(sm) {
		.container {
			display: flex;
			align-items: center;
			flex-direction: row;
			display: flex;
			padding: rem(15) 0;
		}
		> div {
			flex: 1;
		}
		.left {
			.main-nav-init {
				display: none;
			}
		}
		.right {
			display: block;
			margin-left: auto;
			.item {
				display: flex;
				gap: 1rem;
				align-items: center;
			}
		}
		.main-nav-init {
			display: flex;
			justify-content: space-between;
			gap: rem(10);
			align-items: center;
			font-weight: bold;
			text-transform: uppercase;
			i {
				font-size: rem(30);
				line-height: rem(30);
				margin-top: 1px;
				margin-bottom: -1px;
			}
		}
		.top-logo {
			width: 23vw;
		}
	}
	@include from(lg) {
		.logo-mobile {
			display: none;
		}
		.logo-desktop {
			display: block;
			max-width: rem(270);
		}
		.main-nav-init {
			display: none;
		}
		.middle {
			display: block;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			.rating-bottom {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: rem(5);
			}

			.item {
				display: flex;
				flex-direction: column;
				gap: rem(5);
				color: var.$color-text;
			}
			.count {
				@include font-size(20, 22);
			}
		}
	}
}
