@use "../styles/variables" as var;
@use "../styles/icons" as ico;
@use "abstracts" as *;
.london-content {
	@include font-size(14, 16);
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 1rem;
		line-height: 1.5;
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ h6 {
			margin-top: 2rem;
		}
		@include from(md) {
			// line-height: 1.7;
		}
		+ .checks {
			padding-top: 0;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
	ul {
		&.checks {
			list-style: none;
			display: flex;
			gap: 1rem;
			flex-direction: column;
			padding-top: 1rem;
			padding-bottom: 2rem;
			li {
				display: flex;
				font-weight: bold;
				@include ico.icon("check-duotone") {
					margin-top: rem(1);
					margin-bottom: rem(-1);
					margin-right: rem(10);
					color: var.$color-green;
				}
			}
			@include from(md) {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 2rem;
				li {
					width: calc(50% - 2rem);
				}
			}
		}
	}
}
