@use "abstracts" as *;
@use "../../styles/icons" as ico;
@use "../../styles/variables" as var;

.london-faqs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	+ p {
		margin-top: 1rem;
	}
	li {
		.question {
			color: white;
			padding: rem(10);
			background-color: var.$color-blue;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			border-radius: rem(5);
			cursor: pointer;
			transition: all, 300ms;
			&.active {
				background-color: #efefef !important;
				color: var.$color-text;
				font-weight: var.$font-weight-bold;
			}
		}

		.answer {
			display: none;
			padding: rem(8) rem(4);
			padding-top: 1rem;
		}

		&:first-child {
			.answer {
				display: block;
			}
		}
	}
}
