@font-face {
	font-family: "londonhearingspecialist-font";
	src: url('assets/fonts/londonhearingspecialist-font.eot');
	src: url('assets/fonts/londonhearingspecialist-font.eot?#iefix') format('eot'),
	url('assets/fonts/londonhearingspecialist-font.woff2') format('woff2'),
	url('assets/fonts/londonhearingspecialist-font.woff') format('woff'),
	url('assets/fonts/londonhearingspecialist-font.ttf') format('truetype'),
	url('assets/fonts/londonhearingspecialist-font.svg#londonhearingspecialist-font') format('svg');
  }

  @mixin icon-styles {
	font-family: "londonhearingspecialist-font";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	  text-decoration: none;
	  text-transform: none;
	}

	%icon {
	  @include icon-styles;
	}

	@function icon-char($filename) {
	  $char: "";
	  
		@if $filename == angle-left {
		  $char: "\E001";
		}
		@if $filename == bars-solid {
		  $char: "\E002";
		}
		@if $filename == calendar-light {
		  $char: "\E003";
		}
		@if $filename == caret-down-solid {
		  $char: "\E004";
		}
		@if $filename == envelope-regular {
		  $char: "\E005";
		}
		@if $filename == phone-regular {
		  $char: "\E006";
		}
		@if $filename == plus-solid {
		  $char: "\E007";
		}
		@if $filename == star-of-life-solid {
		  $char: "\E008";
		}
		@if $filename == xmark-sharp-light {
		  $char: "\E009";
		}

	  @return $char;
	}

	@mixin icon($filename, $insert: before, $extend: false) {
	  &:#{$insert} {
		@if $extend {
		  @extend %icon;
		} @else {
		  @include icon-styles;
		}
		content: icon-char($filename);
		@content;
	  }
	}

	.icon-angle-left {
	  @include icon(angle-left);
	}
	.icon-bars-solid {
	  @include icon(bars-solid);
	}
	.icon-calendar-light {
	  @include icon(calendar-light);
	}
	.icon-caret-down-solid {
	  @include icon(caret-down-solid);
	}
	.icon-envelope-regular {
	  @include icon(envelope-regular);
	}
	.icon-phone-regular {
	  @include icon(phone-regular);
	}
	.icon-plus-solid {
	  @include icon(plus-solid);
	}
	.icon-star-of-life-solid {
	  @include icon(star-of-life-solid);
	}
	.icon-xmark-sharp-light {
	  @include icon(xmark-sharp-light);
	}
	