@use "abstracts" as *;
@use "../styles/icons" as ico;
@use "../styles/variables" as var;

.london-text {
	p {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		padding: 1rem;
		ul {
			padding: 0.5rem 1.5rem 0.5rem 1rem;
			list-style-type: disc;
		}
	}
	h2,
	h3,
	h4 {
		padding-top: 1rem;
		margin-bottom: 1.5rem;
	}
}
