// Define SCSS variables
$font-size-base: 16px;
$font-family-sans-serif: "Lato", sans-serif;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$line-height-base: 1.444;
$button-radius: 30px;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;
$color-text: #393939;
$color-gray-lighter: #e0e0e0;
$color-gray-lightest: #f8f8f8;
$color-gray-light: #f6f6f6;
$color-body-background: #ffffff;
$color-link: #62a2a6;
$color-brand: #62a2a6;
$color-black: #000000;
$color-white: #ffffff;
$color-error: #b72c2c;
$color-success: #2cb74f;
$color-link-hover: #03212b;

:root {
	// --font-size-base: $font-size-base;
	// --font-family-sans-serif: $font-family-sans-serif;
	// --font-size-lg: $font-size-lg;
	// --font-size-sm: $font-size-sm;
	// --font-size-xs: $font-size-xs;
	// --line-height-base: $line-height-base;
	// --button-radius: $button-radius;
	// --font-size-h1: $font-size-h1;
	// --font-size-h2: $font-size-h2;
	// --font-size-h3: $font-size-h3;
	// --font-size-h4: $font-size-h4;
	// --font-size-h5: $font-size-h5;
	// --font-size-h6: $font-size-h6;
	// --font-weight-light: $font-weight-light;
	// --font-weight-normal: $font-weight-normal;
	// --font-weight-semi-bold: $font-weight-semi-bold;
	// --font-weight-bold: $font-weight-bold;
	// --color-text: $color-text;
	// --color-gray-lighter: $color-gray-lighter;
	// --color-gray-lightest: $color-gray-lightest;
	// --color-gray-light: $color-gray-light;
	// --color-body-background: $color-body-background;
	// --color-link: $color-link;
	// --color-brand: $color-brand;
	// --color-black: $color-black;
	// --color-white: $color-white;
	// --color-error: $color-error;
	// --color-success: $color-success;
	// --color-link-hover: $color-link-hover;

	// Navigation
	// --navigation-color-background: $navigation-color-background;
	// --navigation-font-color: $navigation-font-color;
	// --navigation-font-color-active: $navigation-font-color-active;
	// --navigation-font-color-hover: $navigation-font-color-hover;
	// --navigation-a-padding: $navigation-a-padding;
	// --navigation-a-font-size: $navigation-a-font-size;
	// --navigation-portrait-height: $navigation-portrait-height;
	// --navigation-submenu-indicator-top: $navigation-submenu-indicator-top;
	// --navigation-submenu-indicator-left: $navigation-submenu-indicator-left;
	// --navigation-submenu-indicator-size: $navigation-submenu-indicator-size;
	// --navigation-dd-border: $navigation-dd-border;
	// --navigation-dd-padding: $navigation-dd-padding;
	// --navigation-dd-background: $navigation-dd-background;
	// --navigation-dd-a-background-color: $navigation-dd-a-background-color;
	// --navigation-dd-a-background-color-hover: $navigation-dd-a-background-color-hover;
	// --navigation-dd-a-color: $navigation-dd-a-color;
	// --navigation-dd-a-color-hover: $navigation-dd-a-color-hover;
	// --navigation-dd-a-font-size: $navigation-dd-a-font-size;
	// --navigation-offcanvas-background-color: $navigation-offcanvas-background-color;
	// --navigation-offcanvas-icon-color: $navigation-offcanvas-icon-color;
	// --navigation-offcanvas-icon-width: $navigation-offcanvas-icon-width;
	// --navigation-offcanvas-icon-height: $navigation-offcanvas-icon-height;
	// --navigation-offcanvas-icon-margin: $navigation-offcanvas-icon-margin;
	// --navigation-offcanvas-icon-font-size: $navigation-offcanvas-icon-font-size;
	// --navigation-offcanvas-border: $navigation-offcanvas-border;
	// --navigation-offcanvas-a-padding: $navigation-offcanvas-a-padding;
	// --navigation-offcanvas-a-font-color: $navigation-offcanvas-a-font-color;
	// --navigation-offcanvas-a-font-size: $navigation-offcanvas-a-font-size;
	// --navigation-offcanvas-a-font-weight: $navigation-offcanvas-a-font-weight;
	// --navigation-offcanvas-a-active-font-color: $navigation-offcanvas-a-active-font-color;
	// --navigation-offcanvas-a-active-font-size: $navigation-offcanvas-a-active-font-size;
	// --navigation-offcanvas-a-active-font-weight: $navigation-offcanvas-a-active-font-weight;
	// --navigation-offcanvas-a-a-background: $navigation-offcanvas-a-a-background;
	// --navigation-offcanvas-a-a-background-hover: $navigation-offcanvas-a-a-background-hover;
	// --navigation-offcanvas-a-a-padding: $navigation-offcanvas-a-a-padding;
	// --navigation-offcanvas-a-a-font-color: $navigation-offcanvas-a-a-font-color;
	// --navigation-offcanvas-a-a-font-color-active: $navigation-offcanvas-a-a-font-color-active;
	// --navigation-offcanvas-a-a-font-size: $navigation-offcanvas-a-a-font-size;
	// --navigation-offcanvas-a-a-font-weight: $navigation-offcanvas-a-a-font-weight;
}
