// Define SCSS variables
$font-size-base: 16px;
$font-family-sans-serif: "Quicksand", sans-serif;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$line-height-base: 1.444;
$button-radius: 30px;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$color-text: #3a3a3a;
$color-stars: #ffc700;
$color-gold: #b49d6d;
$color-gold-dark: #735b34;
$color-green: #6c9a32;
$color-blue-dark: #004679;
$color-blue: #3889cd;
$color-gray-lighter: #e0e0e0;
$color-gray-lightest: #f4f6f9;
$color-gray-light: #f6f6f6;
$color-body-background: #ffffff;
$color-link: $color-blue;
$color-brand: $color-blue;
$color-black: #000000;
$color-white: #ffffff;
$color-error: #b72c2c;
$color-success: #6c9a32;
$color-link-hover: #03212b;
$table-border: #dadada;
$color-input-background: #dadada;

$color-array: (
	"text": $color-text,
	"white": $color-white,
	"black": $color-black,
	"gold": $color-gold,
	"gold-dark": $color-gold-dark,
	"green": $color-green,
	"blue-dark": $color-blue-dark,
	"blue": $color-blue,
	"gray-lighter": $color-gray-lighter,
	"gray-lightest": $color-gray-lightest,
	"gray-light": $color-gray-light,
	"gray-brand": $color-brand,
	"input-background": $color-input-background,
);

@each $name, $color in $color-array {
	.color-#{$name} {
		color: $color;
	}
	.a-#{$name} {
		a {
			color: $color;
		}
	}
	.bcg-#{$name} {
		background-color: $color;
	}
	.before-bcg-#{$name} {
		&:before {
			background-color: $color;
		}
	}
}
