@use "abstracts" as *;
@use "../../styles/icons" as ico;
@use "../../styles/variables" as var;

.woocommerce-pagination {
	margin-bottom: 2rem;
}
.woocommerce {
	&.woocommerce-wrapper {
		display: flex;
		flex-direction: column;
		gap: 3rem;

		@include to(md) {
			justify-content: center;
		}
		ul.products {
			margin-bottom: 2rem;
			@include to(md) {
				justify-content: center;
			}
		}

		@include from(lg) {
			flex-direction: row-reverse;
			gap: 2rem;
			> .right {
				width: rem(300);
			}
			> .left {
				flex: 1;
			}

			ul.products li.product {
				width: calc(50% - 1rem);
			}
		}
		@include from(xl) {
			ul.products li.product {
				width: calc(100% / 3 - rem(11));
			}
		}
	}
}

.wc-block-components-radio-control__option {
	padding-left: 3.5rem !important;
}
.wc-block-components-formatted-money-amount {
	white-space: nowrap;
	margin-top: -3px;
	display: block;
}
